<nav class="navbar is-transparent" id="navbar">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <img src="{{.Site.Params.brand.navbar | absURL }}" class="navbar-logo">
    </a>
    <div class="go-header-search">
      <form id="go-search-header" method="get" action="/search">
        <div class="field has-addons ml-4">
          <div class="control has-icons-right is-expanded">
            <input type="text" name="gp-search" class="input is-primary is-rounded" placeholder="Search on Google">
          </div>
          <p class="control">
            <a href="#" onclick="document.getElementById('go-search-header').submit()" class="button is-rounded is-primary">
              <span class="icon is-small is-right">
                <i class="fas fa-search"></i>
              </span></a>
            </p>
          </div>
        </form>
      </div>
      <span class="navbar-burger navbar-burger-header has-text-dark burger" data-target="appMenu" data-caption="appMenuCaption">
        <span></span>
        <span></span>
        <span></span>
      </span>
    </div>
    <div id="appMenu" class="m-fadeOut go-sites-menu card">
      {{ partial "components/appmenu.html" . }}
    </div>
  </nav>