{{ define "main" }}
<nav class="navbar is-transparent search-results-navbar">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <img src="{{.Site.Params.brand.navbar | absURL }}" class="navbar-logo">
    </a>
    <div class="go-header-search">
      <div class="control has-icons-left ml-4">
        <form method="get" action="/search">
          <input class="input is-rounded is-primary go-header-search" type="text" name="gp-search" id="gp-search" placeholder="Search on Google">
          <span class="icon is-small is-left">
            <i class="fas fa-search"></i>
          </span>
        </form>
      </div>
    </div>
    <span class="navbar-burger navbar-burger-header has-text-dark burger" data-target="appMenuHeader" data-caption="appMenuCaption">
      <span></span>
      <span></span>
      <span></span>
    </span>
  </div>
  <div id="appMenuHeader" class="m-fadeOut go-sites-menu card">
    {{ partial "components/appmenu.html" . }}
  </div>
</nav>
<section class="section search-results-section">
	<div class="container search-results-container">
		<div class="gcse-searchresults-only"></div>
	</div>
</section>

<script>	
	function queryString(str) {

	    hu = window.location.search.substring(1);
	    gy = hu.split("&");

	    for (i=0;i<gy.length;i++) {
	        ft = gy[i].split("=");
	        if (ft[0] == str) {
	            return ft[1];
	        }
	    }
	}
    var searchStr = queryString("gp-search");
    var searchInp = searchStr.replace(/\+/g,' ');
    document.getElementById('gp-search').value = searchInp;
</script>
<script async src="https://cse.google.com/cse.js?cx=001897873025161475197:apz4eywrqv0"></script>
{{ end }}